doctype html
html(lang='en')

	script(type="text/javascript"  src='http://cdn.html5quintus.com/v0.1.6/quintus-all.js')
	script(type="text/javascript", src='http://localhost:3000/socket.io/socket.io.js')
	script(type="text/javascript", src='/javascripts/Game.js')
	